<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:dist="http://schemas.android.com/apk/distribution"
          package="org.inventivetalent.trashapp">
    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".TrashApp"
            android:theme="@style/AppTheme">
        <activity android:name=".HtmlActivity"
                  android:parentActivityName=".SettingsActivity">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:parentActivityName=".SettingsActivity">
            <meta-data
                    android:name="default-url"
                    android:value="https://trashapp.inventivetalent.org/"/>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/about"/>
                <data
                        android:scheme="http"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/about"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".TabActivity">
            <meta-data
                    android:name="default-url"
                    android:value="https://trashapp.inventivetalent.org/"/>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.inventivetalent.trashapp.TabActivity"/>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/settings"/>
                <data
                        android:scheme="http"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/settings"/>
            </intent-filter>
        </activity>

        <receiver android:name=".CompassWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/compass_widget_info"/>
        </receiver>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyB1kPiXaa4ZCVlyXJXu2f3bwbRpKAtZAss"/>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-2604356629473365~4556622372"/>

        <meta-data
                android:name="default-url"
                android:value="https://trashapp.inventivetalent.org/"/>

        <activity
                android:name=".TabActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="default-url"
                    android:value="https://trashapp.inventivetalent.org/"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- deep links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/"/>
                <data
                        android:scheme="http"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="trashapp.inventivetalent.org"/>
                <data
                        android:scheme="http"
                        android:host="trashapp.inventivetalent.org"/>
            </intent-filter>
            <intent-filter android:autoVerify="true" android:order="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="https"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/.*"/>
                <data
                        android:scheme="http"
                        android:host="trashapp.inventivetalent.org"
                        android:pathPattern="/.*"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>